@keyframes popover-animate-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popover-animate-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popover-animate-in-from-left {
  0% {
    opacity: 0;
    transform: translate(-8px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes popover-animate-in-from-right {
  0% {
    opacity: 0;
    transform: translate(8px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes popover-animate-out {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
