@layer reset,base,tokens,recipes,utilities;
@layer reset {
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    font-family:
      Nunito Sans,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
  }
  body {
    transition: background-color 0.1s ease-in-out;
  }
  button,
  input,
  textarea,
  select,
  optgroup {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 0;
    padding: 0;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    font-family:
      Nunito Sans,
      sans-serif;
    font-size: 16px;
  }
  img {
    max-width: 100%;
  }
  * {
    box-sizing: border-box;
    border-style: solid;
  }
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    margin: 0;
    list-style: none;
  }
  button {
    cursor: pointer;
  }
}
@layer reset {
  :host,
  html {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    font-family: var(--global-font-body, var(--font-fallback));
  }
  *,
  ::backdrop,
  ::file-selector-button,
  :after,
  :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentColor);
  }
  hr {
    height: 0px;
    color: inherit;
    border-top-width: 1px;
  }
  body {
    height: 100%;
    line-height: inherit;
  }
  img {
    border-style: none;
  }
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
    vertical-align: middle;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    overflow-wrap: break-word;
  }
  menu,
  ol,
  ul {
    list-style: none;
  }
  ::file-selector-button,
  button,
  input:where([type='button'], [type='reset'], [type='submit']) {
    -moz-appearance: button;
    appearance: button;
    -webkit-appearance: button;
  }
  ::file-selector-button,
  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: transparent;
  }
  ::placeholder {
    opacity: 1;
    --placeholder-fallback: color-mix(in srgb, currentColor 50%, transparent);
    color: var(--global-color-placeholder, var(--placeholder-fallback));
  }
  textarea {
    resize: vertical;
  }
  table {
    text-indent: 0px;
    border-collapse: collapse;
    border-color: inherit;
  }
  summary {
    display: list-item;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  dialog {
    padding: 0;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  abbr:where([title]) {
    text-decoration: underline dotted;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  pre,
  samp {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New';
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
  }
  progress {
    vertical-align: baseline;
  }
  ::-webkit-search-cancel-button,
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  :-moz-ui-invalid {
    box-shadow: none;
  }
  :-moz-focusring {
    outline: auto;
  }
  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
  }
}
@layer base {
  :root {
    --made-with-panda: '🐼';
  }
  body,
  html {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    font-family: Inter, sans-serif;
    background-color: var(--colors-surface);
  }
  #app,
  body,
  html {
    width: 100%;
    height: 100%;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    outline: 2px solid transparent;
    outline-offset: 2px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    border-width: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
  }
  img {
    max-width: 100%;
  }
  * {
    box-sizing: border-box;
    border-style: solid;
  }
  ol,
  ul {
    padding: 0;
  }
  li,
  ol,
  ul {
    margin: 0;
    list-style: none;
  }
  button {
    cursor: pointer;
  }
  *,
  ::backdrop,
  :after,
  :before {
    --blur: ;
    --brightness: ;
    --contrast: ;
    --grayscale: ;
    --hue-rotate: ;
    --invert: ;
    --saturate: ;
    --sepia: ;
    --drop-shadow: ;
    --backdrop-blur: ;
    --backdrop-brightness: ;
    --backdrop-contrast: ;
    --backdrop-grayscale: ;
    --backdrop-hue-rotate: ;
    --backdrop-invert: ;
    --backdrop-opacity: ;
    --backdrop-saturate: ;
    --backdrop-sepia: ;
    --gradient-from-position: ;
    --gradient-to-position: ;
    --gradient-via-position: ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
  }
}
@layer tokens {
  :where(:root, :host) {
    --colors-brand: #009a48;
    --colors-brand-contrast: #066531;
    --colors-brand-contrast-hover: #035827;
    --colors-brand-hover: #00813c;
    --colors-brand-muted: #def2e7;
    --colors-brand-muted-hover: #d1eadc;
    --colors-error: #c53535;
    --colors-error-contrast: #870d0d;
    --colors-error-contrast-hover: #750a0a;
    --colors-error-hover: #b93131;
    --colors-error-muted: #f9e2e3;
    --colors-error-muted-hover: #f4c6c8;
    --colors-info: #2e72e1;
    --colors-info-contrast: #0c47a7;
    --colors-info-contrast-hover: #0b4199;
    --colors-info-hover: #2063d2;
    --colors-info-muted: #e7effd;
    --colors-info-muted-hover: #dae7fd;
    --colors-focus-ring: #296bd7;
    --colors-line1: rgba(0, 0, 0, 0.5);
    --colors-line2: rgba(0, 0, 0, 0.25);
    --colors-line3: rgba(0, 0, 0, 0.1);
    --colors-neutral1: #55575e;
    --colors-neutral2: #92969d;
    --colors-neutral3: #d4d6db;
    --colors-neutral4: #e4e5e9;
    --colors-neutral5: #f0f1f5;
    --colors-surface: #ffffff;
    --colors-surface-hover: #f5f6fa;
    --colors-primary: #296bd7;
    --colors-primary-contrast: #124598;
    --colors-primary-contrast-hover: #08357f;
    --colors-primary-hover: #1857be;
    --colors-primary-muted: #ebf3ff;
    --colors-primary-muted-darker: #cedef8;
    --colors-primary-muted-hover: #dee9fd;
    --colors-success: #099566;
    --colors-success-contrast: #00573a;
    --colors-success-contrast-hover: #004d34;
    --colors-success-hover: #05865c;
    --colors-success-muted: #ddf1ea;
    --colors-success-muted-hover: #c1e6d9;
    --colors-text: #000000;
    --colors-text-disabled: #7d7f85;
    --colors-text-muted: #55575e;
    --colors-text-on-contrasting-bg: #ffffff;
    --colors-mint: #27caa3;
    --colors-pink: #e04f83;
    --colors-purple: #9d2389;
    --colors-warn: #b98604;
    --colors-warn-contrast: #614500;
    --colors-warn-contrast-hover: #573d00;
    --colors-warn-hover: #a07403;
    --colors-warn-muted: #f3ead1;
    --colors-warn-muted-hover: #ede0bd;
    --shadows-none: none;
    --shadows-large: 0px 16px 32px rgba(0, 0, 0, 0.12);
    --shadows-medium: 0px 8px 24px rgba(0, 0, 0, 0.12);
    --shadows-regular: 0px 4px 16px rgba(0, 0, 0, 0.12);
    --shadows-small: 0px 2px 6px rgba(0, 0, 0, 0.12);
    --radii-none: 0rem;
    --radii-full: 999px;
    --radii-large: 32px;
    --radii-medium: 16px;
    --radii-regular: 8px;
    --radii-small: 4px;
    --sizes-none: 0rem;
    --sizes-button-height-large: 2.75rem;
    --sizes-button-height-medium: 2.25rem;
    --sizes-button-height-small: 2rem;
    --sizes-focus-ring-offset: 0.125rem;
    --sizes-focus-ring-size: 0.0625rem;
    --sizes-breakpoint-sm: 640px;
    --sizes-breakpoint-md: 768px;
    --sizes-breakpoint-lg: 1024px;
    --sizes-breakpoint-xl: 1280px;
    --sizes-breakpoint-2xl: 1536px;
    --spacing-none: 0rem;
    --spacing-2xl: 3rem;
    --spacing-3xl: 3.5rem;
    --spacing-4xl: 4.5rem;
    --spacing-5xl: 9rem;
    --spacing-default: NaNrem;
    --spacing-large: 2rem;
    --spacing-medium: 1.5rem;
    --spacing-regular: 1rem;
    --spacing-small: 0.75rem;
    --spacing-xl: 2.5rem;
    --spacing-xs: 0.5rem;
    --spacing-xxs: 0.25rem;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
    --breakpoints-2xl: 1536px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeScaleIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
@layer utilities {
  @layer compositions {
    .textStyle_\$bodySmallSemiBold {
      font-size: 0.875rem;
    }
    .textStyle_\$bodySemiBold,
    .textStyle_\$bodySmallSemiBold {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 600;
      line-height: 1.5;
    }
    .textStyle_\$bodySemiBold {
      font-size: 1rem;
    }
    .textStyle_\$bodyLargeBold {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.556;
    }
    .textStyle_\$bodySmall {
      font-size: 0.875rem;
    }
    .textStyle_\$body,
    .textStyle_\$bodySmall {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 400;
      line-height: 1.5;
    }
    .textStyle_\$body {
      font-size: 1rem;
    }
    .textStyle_\$bodyBold {
      font-weight: 700;
      font-size: 1rem;
    }
    .textStyle_\$bodyBold,
    .textStyle_\$bodyExtraSmall {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      line-height: 1.5;
    }
    .textStyle_\$bodyExtraSmall {
      font-weight: 400;
      font-size: 0.75rem;
    }
    .textStyle_\$bodyExtraSmallBold {
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 1.5;
    }
    .textStyle_\$bodyExtraSmallBold,
    .textStyle_\$bodyLarge {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
    }
    .textStyle_\$bodyLarge {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.556;
    }
    .textStyle_\$bodySmallBold {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.5;
    }
    .textStyle_\$displayExtraSmall {
      font-size: 2rem;
    }
    .textStyle_\$displayExtraSmall,
    .textStyle_\$displayLarge {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 500;
      line-height: 1.5;
    }
    .textStyle_\$displayLarge {
      font-size: 4rem;
    }
    .textStyle_\$displaySmall {
      font-weight: 500;
      font-size: 3rem;
    }
    .textStyle_\$displaySmall,
    .textStyle_\$headingL {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      line-height: 1.5;
    }
    .textStyle_\$headingL {
      font-weight: 700;
      font-size: 1.75rem;
    }
    .textStyle_\$headingM {
      font-size: 1.375rem;
    }
    .textStyle_\$headingM,
    .textStyle_\$headingS {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 600;
      line-height: 1.5;
    }
    .textStyle_\$headingS {
      font-size: 1rem;
    }
    .textStyle_\$headingXl {
      font-size: 2.625rem;
    }
    .textStyle_\$headingXl,
    .textStyle_\$headingXxl {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 700;
      line-height: 1.5;
    }
    .textStyle_\$headingXxl {
      font-size: 4.5rem;
    }
    .textStyle_\$label {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5;
    }
    .textStyle_\$lead {
      font-weight: 400;
    }
    .textStyle_\$lead,
    .textStyle_\$leadBold {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-size: 1.75rem;
      line-height: 1.5;
    }
    .textStyle_\$leadBold {
      font-weight: 700;
    }
    .textStyle_\$linkText,
    .textStyle_\$linkTextHover {
      text-transform: none;
      letter-spacing: 0;
      font-family: Nunito Sans;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  .all_unset {
    all: unset;
  }
  .d_flex {
    display: flex;
  }
  .gap_large {
    gap: large;
  }
  .gap_regular {
    gap: regular;
  }
  .c_red {
    color: red;
  }
  .p_\$medium {
    padding: var(--spacing-medium);
  }
  .gap_\$medium {
    gap: var(--spacing-medium);
  }
  .bd_1px_solid_black {
    border: 1px solid black;
  }
  .w_500px {
    width: 500px;
  }
  .m_0_auto {
    margin: 0 auto;
  }
  .c_\$textMuted {
    color: var(--colors-text-muted);
  }
  .truncate_true {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ring_none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .max-h_400px {
    max-height: 400px;
  }
  .gap_2px {
    gap: 2px;
  }
  .pos_relative {
    position: relative;
  }
  .min-h_100px {
    min-height: 100px;
  }
  .p_\$small {
    padding: var(--spacing-small);
  }
  .ta_center {
    text-align: center;
  }
  .gap_medium {
    gap: medium;
  }
  .gap_small {
    gap: small;
  }
  .d_inline-flex {
    display: inline-flex;
  }
  .m_0 {
    margin: 0;
  }
  .py_\$xs {
    padding-block: var(--spacing-xs);
  }
  .bdr_\$full {
    border-radius: var(--radii-full);
  }
  .ov_hidden {
    overflow: hidden;
  }
  .td_none {
    text-decoration: none;
  }
  .ring-o_2px {
    outline-offset: 2px;
  }
  .cursor_pointer {
    cursor: pointer;
  }
  .trs_background_50ms_linear\,_opacity_100ms_linear {
    transition:
      background 50ms linear,
      opacity 0.1s linear;
  }
  .us_none {
    -webkit-user-select: none;
    user-select: none;
  }
  .c_white {
    color: #fff;
  }
  .hover-highlight_true {
    position: relative;
  }
  .hover-highlight_true:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #0000000d;
    transition: opacity 50ms linear;
    border-radius: inherit;
    pointer-events: none;
  }
  .hover-highlight_true:hover:after {
    opacity: 1;
  }
  .c_var\(--color-text\) {
    color: var(--color-text);
  }
  .gap_\$xxs {
    gap: var(--spacing-xxs);
  }
  .min-h_\$buttonHeightSmall {
    min-height: var(--sizes-button-height-small);
  }
  .min-h_\$buttonHeightMedium {
    min-height: var(--sizes-button-height-medium);
  }
  .gap_\$xs {
    gap: var(--spacing-xs);
  }
  .min-h_\$buttonHeightLarge {
    min-height: var(--sizes-button-height-large);
  }
  .cursor_not-allowed {
    cursor: not-allowed;
  }
  .c_\$textDisabled {
    color: var(--colors-text-disabled);
  }
  .pos_absolute {
    position: absolute;
  }
  .inset_0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .gap_xs {
    gap: xs;
  }
  .w_18px {
    width: 18px;
  }
  .h_18px {
    height: 18px;
  }
  .bdr_\$small {
    border-radius: var(--radii-small);
  }
  .c_\$primaryMuted {
    color: var(--colors-primary-muted);
  }
  .c_\$primaryContrast {
    color: var(--colors-primary-contrast);
  }
  .c_\$error {
    color: var(--colors-error);
  }
  .ring_2px_solid {
    outline: 2px solid;
  }
  .ring-o_1px {
    outline-offset: 1px;
  }
  .pointer-events_none {
    pointer-events: none;
  }
  .fade-scale-in_200 {
    opacity: 0;
    animation: fadeScaleIn 0.2s forwards;
  }
  .h_100\% {
    height: 100%;
  }
  .gap_none {
    gap: none;
  }
  .pos_fixed {
    position: fixed;
  }
  .z_1000 {
    z-index: 1000;
  }
  .min-h_100vh {
    min-height: 100vh;
  }
  .min-w_100vw {
    min-width: 100vw;
  }
  .bkdp_blur\(4px\) {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .anim_dialog-overlay-animation_150ms_ease-out_forwards {
    animation: dialog-overlay-animation 0.15s ease-out forwards;
  }
  .anim_dialog-overlay-animation_100ms_ease-in_reverse {
    animation: dialog-overlay-animation 0.1s ease-in reverse;
  }
  .z_1001 {
    z-index: 1001;
  }
  .bx-sh_\$large {
    box-shadow: var(--shadows-large);
  }
  .bdr_\$medium {
    border-radius: var(--radii-medium);
  }
  .anim_var\(--animation\)_150ms_ease-out_forwards {
    animation: var(--animation) 0.15s ease-out forwards;
  }
  .anim_var\(--animation\)_100ms_ease-out_reverse {
    animation: var(--animation) 0.1s ease-out reverse;
  }
  .--animation_dialog-middle-animation {
    --animation: dialog-middle-animation;
  }
  .translate_-50\%_-50\% {
    translate: -50% -50%;
  }
  .--animation_dialog-top-animation {
    --animation: dialog-top-animation;
  }
  .translate_-50\%_0px {
    translate: -50% 0px;
  }
  .--animation_dialog-bottom-animation {
    --animation: dialog-bottom-animation;
  }
  .--animation_dialog-drawer-animation {
    --animation: dialog-drawer-animation;
  }
  .w_90vw {
    width: 90vw;
  }
  .max-w_500px {
    max-width: 500px;
  }
  .bdr_0px {
    border-radius: 0;
  }
  .flex_1 {
    flex: 1 1 0%;
  }
  .gap_\$small {
    gap: var(--spacing-small);
  }
  .px_\$medium {
    padding-inline: var(--spacing-medium);
  }
  .bdr_50\% {
    border-radius: 50%;
  }
  .w_32 {
    width: 32px;
  }
  .h_32 {
    height: 32px;
  }
  .bd_1px_solid_rgba\(0\,0\,0\,0\.1\) {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .d_block {
    display: block;
  }
  .min-w_180px {
    min-width: 180px;
  }
  .p_\$xs {
    padding: var(--spacing-xs);
  }
  .bx-sh_\$regular {
    box-shadow: var(--shadows-regular);
  }
  .anim_menu-animation_150ms_ease-out_forwards {
    animation: menu-animation 0.15s ease-out forwards;
  }
  .anim_menu-animation_100ms_ease-in_reverse {
    animation: menu-animation 0.1s ease-in reverse;
  }
  .h_1px {
    height: 1px;
  }
  .my_\$xxs {
    margin-block: var(--spacing-xxs);
  }
  .--shadow_0px_2px_10px_rgba\(0\,_0\,_0\,_0\.1\) {
    --shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .--animation-in_popover-animate-in-from-top {
    --animation-in: popover-animate-in-from-top;
  }
  .bx-sh_var\(--shadow\) {
    box-shadow: var(--shadow);
  }
  .bdr_\$regular {
    border-radius: var(--radii-regular);
  }
  .p_\$regular {
    padding: var(--spacing-regular);
  }
  .anim_var\(--animation-in\)_150ms_ease-out_forwards {
    animation: var(--animation-in) 0.15s ease-out forwards;
  }
  .anim_popover-animate-out_100ms_ease-in_forwards {
    animation: popover-animate-out 0.1s ease-in forwards;
  }
  .z_1 {
    z-index: 1;
  }
  .w_calc\(var\(--size\)_\+_var\(--border-size\)\) {
    width: calc(var(--size) + var(--border-size));
  }
  .h_calc\(var\(--size\)_\+_var\(--border-size\)\) {
    height: calc(var(--size) + var(--border-size));
  }
  .--size_12px {
    --size: 12px;
  }
  .--size_16px {
    --size: 16px;
  }
  .--size_24px {
    --size: 24px;
  }
  .--size_48px {
    --size: 48px;
  }
  .m_0px {
    margin: 0;
  }
  .max-w_100\% {
    max-width: 100%;
  }
  .focus-ring_true:focus-visible {
    box-shadow: 0 0 0 2px undefined;
  }
  .px_\$small {
    padding-inline: var(--spacing-small);
  }
  .c_\$neutral5 {
    color: var(--colors-neutral5);
  }
  .sr_true {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .--outline-width_1px {
    --outline-width: 1px;
  }
  .bdr_4px {
    border-radius: 4px;
  }
  .ring-o_calc\(0px_-_var\(--outline-width\)\) {
    outline-offset: calc(0px - var(--outline-width));
  }
  .ta_left {
    text-align: left;
  }
  .w_24 {
    width: 24px;
  }
  .h_24 {
    height: 24px;
  }
  .gap_xxs {
    gap: xxs;
  }
  .d_none {
    display: none;
  }
  .min-h_50px {
    min-height: 50px;
  }
  .w_100\% {
    width: 100%;
  }
  .c_\$text {
    color: var(--colors-text);
  }
  .trf_translateY\(-50\%\) {
    transform: translateY(-50%);
  }
  .w_var\(--trigger-width\) {
    width: var(--trigger-width);
  }
  .cursor_default {
    cursor: default;
  }
  .flex-d_column {
    flex-direction: column;
  }
  .ai_center {
    align-items: center;
  }
  .jc_center {
    justify-content: center;
  }
  .flex-d_row {
    flex-direction: row;
  }
  .fs_2xl {
    font-size: 2xl;
  }
  .fw_bold {
    font-weight: 700;
  }
  .pr_\$xl\! {
    padding-right: var(--spacing-xl) !important;
  }
  .right_\$xs\! {
    right: var(--spacing-xs) !important;
  }
  .ov-y_auto {
    overflow-y: auto;
  }
  .ai_flex-start {
    align-items: flex-start;
  }
  .lh_1 {
    line-height: 1;
  }
  .bg-c_var\(--color\) {
    background-color: var(--color);
  }
  .bg-c_var\(--color-muted\) {
    background-color: var(--color-muted);
  }
  .bg-c_transparent {
    background-color: transparent;
  }
  .bd-c_var\(--color\) {
    border-color: var(--color);
  }
  .bd-w_1px {
    border-width: 1px;
  }
  .border-style_solid {
    border-style: solid;
  }
  .pl_calc\(token\(\$spacing\.small\)_\*_var\(--padding-start-factor\,_1\)\) {
    padding-left: calc(var(--spacing-small) * var(--padding-start-factor, 1));
  }
  .pr_calc\(token\(\$spacing\.small\)_\*_var\(--padding-end-factor\,_1\)\) {
    padding-right: calc(var(--spacing-small) * var(--padding-end-factor, 1));
  }
  .pl_calc\(token\(\$spacing\.regular\)_\*_var\(--padding-start-factor\,_1\)\) {
    padding-left: calc(var(--spacing-regular) * var(--padding-start-factor, 1));
  }
  .pr_calc\(token\(\$spacing\.regular\)_\*_var\(--padding-end-factor\,_1\)\) {
    padding-right: calc(var(--spacing-regular) * var(--padding-end-factor, 1));
  }
  .bg-c_\$neutral4 {
    background-color: var(--colors-neutral4);
  }
  .bd-c_\$line2 {
    border-color: var(--colors-line2);
  }
  .bg-c_inherit {
    background-color: inherit;
  }
  .pl_\$regular {
    padding-left: var(--spacing-regular);
  }
  .flex-sh_0 {
    flex-shrink: 0;
  }
  .bg-c_\$surface {
    background-color: var(--colors-surface);
  }
  .bd-c_\$line1 {
    border-color: var(--colors-line1);
  }
  .bg-c_\$primaryMuted {
    background-color: var(--colors-primary-muted);
  }
  .bd-c_\$primary {
    border-color: var(--colors-primary);
  }
  .bg-c_\$primaryContrast {
    background-color: var(--colors-primary-contrast);
  }
  .bd-c_\$primaryContrast {
    border-color: var(--colors-primary-contrast);
  }
  .bg-c_\$errorMuted {
    background-color: var(--colors-error-muted);
  }
  .bd-c_\$error {
    border-color: var(--colors-error);
  }
  .ring-c_\$info {
    outline-color: var(--colors-info);
  }
  .pr_\$large {
    padding-right: var(--spacing-large);
  }
  .top_0px {
    top: 0;
  }
  .right_0px {
    right: 0;
  }
  .pr_\$small {
    padding-right: var(--spacing-small);
  }
  .pl_\$small {
    padding-left: var(--spacing-small);
  }
  .bg-c_rgba\(0\,_0\,_0\,_0\.3\) {
    background-color: #0000004d;
  }
  .left_50\% {
    left: 50%;
  }
  .top_50\% {
    top: 50%;
  }
  .top_10\% {
    top: 10%;
  }
  .bottom_10\% {
    bottom: 10%;
  }
  .bottom_0px {
    bottom: 0;
  }
  .jc_space-between {
    justify-content: space-between;
  }
  .pl_\$medium {
    padding-left: var(--spacing-medium);
  }
  .pt_\$regular {
    padding-top: var(--spacing-regular);
  }
  .jc_flex-end {
    justify-content: flex-end;
  }
  .pb_\$medium {
    padding-bottom: var(--spacing-medium);
  }
  .bd-c_\$line3 {
    border-color: var(--colors-line3);
  }
  .bg-c_\$line3 {
    background-color: var(--colors-line3);
  }
  .pb_\$xxs {
    padding-bottom: var(--spacing-xxs);
  }
  .bd-c_\$neutral4 {
    border-color: var(--colors-neutral4);
  }
  .bg-c_\$text {
    background-color: var(--colors-text);
  }
  .mt_\$xs {
    margin-top: var(--spacing-xs);
  }
  .jc_space-evenly {
    justify-content: space-evenly;
  }
  .mb_\$xs {
    margin-bottom: var(--spacing-xs);
  }
  .ml_\$xs {
    margin-left: var(--spacing-xs);
  }
  .mr_\$small {
    margin-right: var(--spacing-small);
  }
  .left_\$regular {
    left: var(--spacing-regular);
  }
  .right_\$regular {
    right: var(--spacing-regular);
  }
  .\[\&\[data-has-selected\=\"true\"\]\]\:c_\$text[data-has-selected='true'] {
    color: var(--colors-text);
  }
  .\[\&\[data-pressed\=\"true\"\]\]\:op_0\.8[data-pressed='true'] {
    opacity: 0.8;
  }
  .\[\&\[data-focus-visible\=\"true\"\]\]\:ring_2px_solid_var\(--color\)[data-focus-visible='true'] {
    outline: 2px solid var(--color);
  }
  .\[\&\[data-pressed\=\"true\"\]\]\:op_1[data-pressed='true'] {
    opacity: 1;
  }
  .\[\&\[data-disabled\=\"true\"\]\]\:op_0\.5[data-disabled='true'] {
    opacity: 0.5;
  }
  .\[\&\[data-disabled\=\"true\"\]\]\:cursor_not-allowed[data-disabled='true'] {
    cursor: not-allowed;
  }
  .\[\&\[data-selected\=\"true\"\]_\.selected-icon\]\:d_block[data-selected='true']
    .selected-icon {
    display: block;
  }
  .\[\&\[data-placement\=\"bottom\"\]\]\:--shadow_0px_-2px_10px_rgba\(0\,_0\,_0\,_0\.1\)[data-placement='bottom'] {
    --shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  }
  .\[\&\[data-placement\=\"bottom\"\]\]\:--animation-in_popover-animate-in-from-bottom[data-placement='bottom'] {
    --animation-in: popover-animate-in-from-bottom;
  }
  .\[\&\[data-placement\=\"right\"\]\]\:--shadow_-2px_2px_10px_rgba\(0\,_0\,_0\,_0\.1\)[data-placement='right'] {
    --shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .\[\&\[data-placement\=\"right\"\]\]\:--animation-in_popover-animate-in-from-right[data-placement='right'] {
    --animation-in: popover-animate-in-from-right;
  }
  .\[\&\[data-placement\=\"left\"\]\]\:--shadow_2px_2px_10px_rgba\(0\,_0\,_0\,_0\.1\)[data-placement='left'] {
    --shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .\[\&\[data-placement\=\"left\"\]\]\:--animation-in_popover-animate-in-from-left[data-placement='left'] {
    --animation-in: popover-animate-in-from-left;
  }
  .\[\&_\.arrow-bg\]\:fill_\$surface .arrow-bg {
    fill: var(--colors-surface);
  }
  .\[\&_\.arrow-stroke\]\:stk_\$neutral4 .arrow-stroke {
    stroke: var(--colors-neutral4);
  }
  .\[\&_\>_\*\[data-placeholder\]\]\:c_\$textMuted > [data-placeholder] {
    color: var(--colors-text-muted);
  }
  .\[\&\:before\]\:bdr_50\%:before {
    border-radius: 50%;
  }
  .\[\&\:before\]\:bd_var\(--border-size\)_solid_currentColor:before {
    border: var(--border-size) solid currentColor;
  }
  .\[\&\:before\]\:op_0\.3:before {
    opacity: 0.3;
  }
  .\[\&\:before\]\:z_-1:before {
    z-index: -1;
  }
  .\[\&\:before\]\:pos_absolute:before {
    position: absolute;
  }
  .\[\&\:before\]\:inset_0:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .\[\&\:after\]\:anim_spin_0\.6s_infinite_linear:after {
    animation: spin 0.6s infinite linear;
  }
  .\[\&\:after\]\:bdr_50\%:after {
    border-radius: 50%;
  }
  .\[\&\:after\]\:bd_var\(--border-size\)_solid_currentColor:after {
    border: var(--border-size) solid currentColor;
  }
  .\[\&\:after\]\:z_1:after {
    z-index: 1;
  }
  .\[\&\:after\]\:pos_absolute:after {
    position: absolute;
  }
  .\[\&\:after\]\:inset_0:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .\[\&_svg\]\:fill_\$text svg {
    fill: var(--colors-text);
  }
  .\[\&\[data-placement\=\"bottom\"\]_svg\]\:trf_rotate\(180deg\)[data-placement='bottom']
    svg {
    transform: rotate(180deg);
  }
  .\[\&\[data-placement\=\"right\"\]_svg\]\:trf_rotate\(90deg\)[data-placement='right']
    svg {
    transform: rotate(90deg);
  }
  .\[\&\[data-placement\=\"left\"\]_svg\]\:trf_rotate\(-90deg\)[data-placement='left']
    svg {
    transform: rotate(-90deg);
  }
  .\[\&_button\]\:flex_1 button {
    flex: 1 1 0%;
  }
  .\[\&\[aria-invalid\=\"true\"\]\,_\&\[data-invalid\=\"true\"\]\]\:ring_var\(--outline-width\)_solid_token\(\$colors\.error\)[aria-invalid='true'],
  .\[\&\[aria-invalid\=\"true\"\]\,_\&\[data-invalid\=\"true\"\]\]\:ring_var\(--outline-width\)_solid_token\(\$colors\.error\)[data-invalid='true'] {
    outline: var(--outline-width) solid var(--colors-error);
  }
  .\[\&\[disabled\]\]\:cursor_not-allowed[disabled] {
    cursor: not-allowed;
  }
  .\[\&_span\]\:us_none span {
    -webkit-user-select: none;
    user-select: none;
  }
  .\[\&_span\]\:cursor_default span {
    cursor: default;
  }
  .\[\&\[data-has-icon\=\"true\"\]\]\:pl_\$xl[data-has-icon='true'] {
    padding-left: var(--spacing-xl);
  }
  .\[\&_svg\]\:flex-sh_0 svg {
    flex-shrink: 0;
  }
  .\[\&\[data-hovered\=\"true\"\]\]\:bg-c_var\(--color-muted\)[data-hovered='true'] {
    background-color: var(--color-muted);
  }
  .\[\&\[data-hovered\=\"true\"\]\]\:bg-c_\$neutral5[data-hovered='true'] {
    background-color: var(--colors-neutral5);
  }
  .\[\&_\>_svg_\+_input\]\:pl_\$xl > svg + input {
    padding-left: var(--spacing-xl);
  }
  .\[\&\[data-hovered\=\"true\"\]\,_\&\[data-focused\=\"true\"\]\,_\&\[data-selected\=\"true\"\]\]\:bg-c_\$primaryMuted[data-focused='true'],
  .\[\&\[data-hovered\=\"true\"\]\,_\&\[data-focused\=\"true\"\]\,_\&\[data-selected\=\"true\"\]\]\:bg-c_\$primaryMuted[data-hovered='true'],
  .\[\&\[data-hovered\=\"true\"\]\,_\&\[data-focused\=\"true\"\]\,_\&\[data-selected\=\"true\"\]\]\:bg-c_\$primaryMuted[data-selected='true'] {
    background-color: var(--colors-primary-muted);
  }
  .\[\&\[data-placement\=\"top\"\]\]\:mt_-1px[data-placement='top'] {
    margin-top: -1px;
  }
  .\[\&\[data-placement\=\"bottom\"\]\]\:mb_-1px[data-placement='bottom'] {
    margin-bottom: -1px;
  }
  .\[\&\[data-placement\=\"right\"\]\]\:mr_-1px[data-placement='right'] {
    margin-right: -1px;
  }
  .\[\&\[data-placement\=\"left\"\]\]\:ml_-1px[data-placement='left'] {
    margin-left: -1px;
  }
  .\[\&\:after\]\:content_\'\':after,
  .\[\&\:before\]\:content_\'\':before {
    content: '';
  }
  .\[\&\:after\]\:bd-t-c_transparent:after {
    border-top-color: transparent;
  }
  .\[\&_\>_input\[data-password\]\]\:pr_\$xl > input[data-password] {
    padding-right: var(--spacing-xl);
  }
  .\[\&\[aria-invalid\=\"true\"\]\,_\&\[data-invalid\=\"true\"\]\]\:bd-c_transparent[aria-invalid='true'],
  .\[\&\[aria-invalid\=\"true\"\]\,_\&\[data-invalid\=\"true\"\]\]\:bd-c_transparent[data-invalid='true'] {
    border-color: transparent;
  }
  .\[\&\[disabled\]\]\:bg-c_\$neutral5[disabled] {
    background-color: var(--colors-neutral5);
  }
  .\[\&\[disabled\]\]\:bd-c_\$line2[disabled] {
    border-color: var(--colors-line2);
  }
  .\[\&\:focus-within\]\:--outline-width_2px:focus-within {
    --outline-width: 2px;
  }
  .\[\&\:focus-within\]\:ring_var\(--outline-width\)_solid_token\(\$colors\.focusRing\):focus-within {
    outline: var(--outline-width) solid var(--colors-focus-ring);
  }
  .\[\&\:focus-within\]\:bd-c_transparent:focus-within {
    border-color: transparent;
  }
  .\[\&\:focus\]\:--outline-width_2px:focus {
    --outline-width: 2px;
  }
  .\[\&\:focus\]\:ring_var\(--outline-width\)_solid_token\(\$colors\.focusRing\):focus {
    outline: var(--outline-width) solid var(--colors-focus-ring);
  }
  .\[\&\:focus\]\:bd-c_transparent:focus {
    border-color: transparent;
  }
  .\[\&\:hover\,_\&\[data-focused\=\"true\"\]\]\:bg-c_\$primaryMuted:hover,
  .\[\&\:hover\,_\&\[data-focused\=\"true\"\]\]\:bg-c_\$primaryMuted[data-focused='true'] {
    background-color: var(--colors-primary-muted);
  }
  .\[\&\[data-placement\=\"bottom\"\]\]\:\[\&_svg\]\:trf_rotate\(180deg\)[data-placement='bottom']
    svg {
    transform: rotate(180deg);
  }
  .\[\&\[data-placement\=\"right\"\]\]\:\[\&_svg\]\:trf_rotate\(90deg\)[data-placement='right']
    svg {
    transform: rotate(90deg);
  }
  .\[\&\[data-placement\=\"left\"\]\]\:\[\&_svg\]\:trf_rotate\(-90deg\)[data-placement='left']
    svg {
    transform: rotate(-90deg);
  }
  .\[\&\[data-required\=\"true\"\]\]\:\[\&\:after\]\:c_\$errorContrast[data-required='true']:after {
    color: var(--colors-error-contrast);
  }
  .\[\&\[data-required\=\"true\"\]\]\:\[\&\:after\]\:content_\"_\*\"[data-required='true']:after {
    content: ' *';
  }
  @media screen and (max-width: 47.9975rem) {
    .mdDown\:w_100\% {
      width: 100%;
    }
    .mdDown\:max-w_calc\(100vw_-_32px\) {
      max-width: calc(100vw - 32px);
    }
  }
}
